<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.schneider.imscore.mapper.product.ProductSkuMapper" >
  <resultMap id="BaseResultMap" type="com.schneider.imscore.po.product.ProductSkuPO" >
      <id column="id" property="id" jdbcType="BIGINT" />
      <result column="reference" property="reference" jdbcType="VARCHAR" />
      <result column="brand" property="brand" jdbcType="VARCHAR" />
      <result column="brand_chinese" property="brandChinese" jdbcType="VARCHAR" />
      <result column="brand_portuguese" property="brandPortuguese" jdbcType="VARCHAR" />
      <result column="brand_russian" property="brandRussian" jdbcType="VARCHAR" />
      <result column="family" property="family" jdbcType="VARCHAR" />
      <result column="family_chinese" property="familyChinese" jdbcType="VARCHAR" />
      <result column="family_portuguese" property="familyPortuguese" jdbcType="VARCHAR" />
      <result column="family_russian" property="familyRussian" jdbcType="VARCHAR" />
      <result column="category" property="category" jdbcType="VARCHAR" />
      <result column="category_chinese" property="categoryChinese" jdbcType="VARCHAR" />
      <result column="category_portuguese" property="categoryPortuguese" jdbcType="VARCHAR" />
      <result column="category_russian" property="categoryRussian" jdbcType="VARCHAR" />
      <result column="description" property="description" jdbcType="VARCHAR" />
      <result column="description_chinese" property="descriptionChinese" jdbcType="VARCHAR" />
      <result column="description_portuguese" property="descriptionPortuguese" jdbcType="VARCHAR" />
      <result column="description_russian" property="descriptionRussian" jdbcType="VARCHAR" />
      <result column="oss_key" property="ossKey" jdbcType="VARCHAR" />
      <result column="creator" property="creator" jdbcType="VARCHAR" />
      <result column="modifier" property="modifier" jdbcType="VARCHAR" />
      <result column="created" property="created" jdbcType="TIMESTAMP" />
      <result column="modified" property="modified" jdbcType="TIMESTAMP" />
  </resultMap>
    <sql id="Table_Name">
  tb_product_sku
  </sql>


  <sql id="Base_Column_List" >
    id, reference, brand, brand_chinese, brand_portuguese, brand_russian, family, family_chinese,
    family_portuguese, family_russian, category, category_chinese, category_portuguese,
    category_russian, description, description_chinese, description_portuguese, description_russian,
    oss_key, creator, modifier, created, modified
  </sql>
  <select id="selectProductByReference" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from <include refid="Table_Name"/>
    where reference = #{reference,jdbcType=VARCHAR}
  </select>

    <select id="listProductsBySku" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List" />
        from <include refid="Table_Name"/>
        <where>
            reference in
            <foreach collection="references" open="(" close=")" separator="," item="sku">
                #{sku}
            </foreach>

        </where>
    </select>

    <select id="listProductsLikeSku" resultMap="BaseResultMap">
        select  <include refid="Base_Column_List" />
        from <include refid="Table_Name"/>
        <where>
            <foreach collection="references"  separator="or" item="sku">
                reference   like   CONCAT('%',#{sku,jdbcType=VARCHAR},'%')
            </foreach>
        </where>
    </select>

</mapper>